.portfolio {
  background-color: var(--primary-white-color);
}

.portfolio__item:not(:last-child) {
  margin-bottom: 30px;
}

.portfolio__link {
  display: block;
  transition: box-shadow 250ms var(--cubic);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .portfolio__info-overlay,
  &:focus .portfolio__info-overlay {
    transform: translateY(0%);
  }
}

.portfolio__description {
  padding: 20px 24px;
  background-color: var(--primary-white-color);
  border: 1px solid #eeeeee;
  text-align: left;
}

.portfolio__description-title {
  margin-bottom: 4px;
  @include font(700, 18px, 36px);
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}

.portfolio__description-type {
  @include font(400, 16px, 30px);
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.portfolio__info-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio__info-overlay {
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  @include font(400, 18px, 28px);
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition: transform 250ms var(--cubic);
}

//768-1199

@media screen and (min-width: 768px) {
  .portfolio__info-overlay {
    padding-top: 49px;
    padding-bottom: 49px;
  }

  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .portfolio__item {
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
  .portfolio__link {
    display: flex;
    flex-direction: column;
  }
  .portfolio__description {
    flex-grow: 1;
  }
  .portfolio__item:not(:last-child) {
    margin-bottom: 0px;
  }
}
//1200+

@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 90px) / 3);
  }

  .portfolio__info-overlay {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}
// .portfolio__link {
//   display: flex;
//   flex-direction: column;
//   flex-grow: 1;
// }

// .portfolio__description {
//   height: 100%;
// }

// .portfolio {
//   background-color: var(--primary-white-color);
// }

// .portfolio__link {
//   display: block;
//   transition: box-shadow 250ms var(--cubic);

//   &:hover,
//   &:focus {
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//       1px 4px 6px rgba(0, 0, 0, 0.16);
//   }

//   &:hover .portfolio__info-overlay,
//   &:focus .portfolio__info-overlay {
//     transform: translateY(0%);
//   }
// }

// .portfolio__list {
//   display: flex;
//   flex-wrap: wrap;
//   margin-top: -30px;
//   margin-left: -30px;
// }
// .portfolio__item {
//   margin-top: 30px;
//   margin-left: 30px;
//   flex-basis: calc((100% - 90px) / 3);
// }

// .portfolio__description {
//   padding: 20px 24px;
//   background-color: var(--primary-white-color);
//   border: 1px solid #eeeeee;
// }

// .portfolio__description-title {
//   margin-bottom: 4px;
//   font-weight: 700;
//   font-size: 18px;
//   line-height: 2;
//   letter-spacing: 0.06em;

//   color: var(--primary-text-color);
// }
// .portfolio__description-type {
//   font-weight: normal;
//   font-size: 16px;
//   line-height: 1.87;
//   letter-spacing: 0.03em;

//   color: var(--secondary-text-color);
// }

// .portfolio__info-wrap {
//   position: relative;
//   overflow: hidden;
// }
// .portfolio__info-overlay {
//   position: absolute;
//   overflow: auto;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   padding: 63px 24px;
//   font-weight: 400;
//   font-size: 18px;
//   line-height: 1.56;
//   letter-spacing: 0.03em;
//   color: var(--primary-white-color);
//   background: rgba(33, 150, 243, 0.9);

//   transform: translateY(100%);
//   transition: transform 250ms var(--cubic);
// }
