.portfolio__selector-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
}
.portfolio__selector-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__selector-item:nth-child(-n + 3) {
  margin-bottom: 15px;
}

.portfolio__selector-bttn {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-family: roboto, sans-serif;
  @include font(500, 16px, 26px);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--gray-bg-color);

  cursor: pointer;

  transition: color 250ms var(--cubic), background-color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__selector-list {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
  .portfolio__selector-item:nth-child(-n + 3) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__selector-list {
    margin-bottom: 50px;
  }
}

// .portfolio__selector-list {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 50px;
// }
// .portfolio__selector-item:not(:last-child) {
//   margin-right: 8px;
// }

// .portfolio__selector-bttn {
//   padding: 6px 22px;
//   border: none;
//   border-radius: 4px;

//   font-family: roboto, sans-serif;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.62;
//   text-align: center;
//   letter-spacing: 0.03em;

//   color: var(--primary-text-color);
//   background-color: var(--gray-bg-color);

//   cursor: pointer;

//   transition: color 250ms var(--cubic), background-color 250ms var(--cubic),
//     box-shadow 250ms var(--cubic);

//   &:hover,
//   &:focus {
//     color: var(--primary-white-color);
//     background-color: var(--accent-color);
//     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//       0px 2px 2px rgba(0, 0, 0, 0.12);
//     border-radius: 4px;
//   }
// }
