.button {
  min-width: 200px;
  // padding-top: 10px;
  // padding-bottom: 10px;
  padding: 10px 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  cursor: pointer;

  transition: background-color 250ms var(--cubic);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

// .button:hover,
// .button:focus {
//   background-color: #188ce8;
// }
