:root {
  --primary-text-color: #212121;
  --primary-white-color: #ffffff;
  --dark-bg-color: #2f303a;
  --gray-bg-color: #f5f4fa;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
